@{
    ViewData["Title"] = "Pagina Principală";
}

<div class="text-center">
    <h1 class="display-4">Bine ai venit în lumea artelor!</h1>
    <p>Aplicația noastră web îți deschide ușa către universul captivant al expozițiilor de artă. Descoperă și explorează operele remarcabile ale artiștilor contemporani și tradiționali într-un mod simplu și captivant.</p>
</div>

<div class="art-app-content">
    <h2>Explorează Expoziții Unice</h2>
    <p>Cu ajutorul aplicației noastre, poți naviga cu ușurință prin diverse expoziții de artă, fie că sunt virtuale sau în locații fizice. Descoperă creații unice, explorează teme fascinante și conectează-te cu universul artistic în moduri neașteptate.</p>

    <h2>Păstrează-ți Evidența</h2>
    <p>Nu-ți vei mai pierde niciodată urma lucrărilor preferate! Aplicația noastră îți oferă posibilitatea de a-ți organiza și gestiona colecția personală de artă. Adaugă operele preferate, setează-ți obiective de colecționare și păstrează-ți evidența detaliată a fiecărei piese.</p>

    <h2>Evenimente Exclusiviste</h2>
    <p>Fii la curent cu cele mai recente expoziții și evenimente artistice. Prin intermediul aplicației noastre, vei primi notificări cu privire la vernisaje, conferințe și alte momente deosebite din lumea artei. Participă la evenimente exclusiviste și intră în dialog direct cu artiștii.</p>

    <h2>Conectează-te cu Artiștii</h2>
    <p>Aplicația noastră creează un pod între iubitorii de artă și artiști. Comunică direct cu creatorii, descoperă povestea din spatele operelor și pătrunde în mintea lor creativă. Oportunități unice de interacțiune care transformă simpla vizionare într-o experiență autentică.</p>

    <h2>Descoperă Artă, Descoperă Inspiratie</h2>
    <p>Fie că ești un colecționar pasionat, un artist în devenire sau doar un curios al lumii artistice, aplicația noastră web te invită să descoperi arta într-un mod cu totul nou. Începe călătoria ta în lumea artelor chiar acum!</p>
</div>
